* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: url(assets/topimages.png);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 10%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: black;
	font-size: 100px;
}
.welcome-text h1 span {
	color: #D9AAAC;
}
.welcome-text h2 {
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 100px;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
.about {
    background-color: #444053;
    padding-bottom: 40px;
}
.about .what {
    padding-top: 45px;
    color: white;
    text-align: center;
    font-size: 64px;
}
.about p {
    color: white;
    text-align: center;
    padding-top: 23px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    font-size: 24px;
}
.about .one{
    display: inline;
    color: white;
    font-size: 72px;
    padding-left: 30%;
    padding-right: 20%;
}
.about .two {
    display: inline;
    color: white;
    font-size: 72px;
}
.about .pone {
    display: inline;
    color: white;
    font-size: 30;
    padding-left: 29%;
    padding-right: 6%;
}
.about .ptwo {
    display: inline;
    color: white;
    font-size: 30;
}

.reading {
    background: url("assets/readingsource.png");
    margin-top: -26.5vh;
    height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
/* .cards .readingtext {
    color: #4B4B5B;
    font-size: 64px;
    margin-top: -50vh;
    text-align: center;
} */
.cards {
    display: flex;
    flex: wrap;
    justify-content: space-around;
}
.cards .card {
    /* margin-left: 10%;
    margin-right: 10%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    height: 470px;
    width: 350px;
    background-color: #CACBD9;
    margin-top: -20vh;
  }
.cards .card1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
.cards .container {
    background-color: #A3A4C6;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
}
.cards .container h4 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.cards .container p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.cards .cardtwo {
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    height: 470px;
    width: 350px;
    background-color: #CACBD9;
    margin-top: -20vh;
  }
.cards .card2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
.cards .container2 {
    background-color: #A3A4C6;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
}
.cards .container2 h4 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.cards .container2 p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.cards .cardthree {
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    height: 470px;
    width: 350px;
    background-color: #CACBD9;
    margin-top: -20vh;
  }
.cards .card3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
.cards .container3 {
    background-color: #A3A4C6;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
}
.cards .container3 h4 {
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

.cards .container3 p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.tools {
    background: url(assets/wavey.png);
    height: 220vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.tools h1 {
    color: white;
    font-size: 64px;
    padding-top: 40vh;
    padding-left: 93vh;
}

.dragon {
    margin-top: 25vh;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
.dragon h2 {
    font-size: 50px;
}
.dragon p {
    font-size: 28px;
}